/* Debug */

.debug {
    background-color: red;
}

.square_blue {
    width: 200px;
    height: 150px;
    background-color: blue;
}
.square_yellow {
    width: 200px;
    height: 150px;
    background-color: yellow;
}


/* Common */

.nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.btn_shape {
    border-radius: 50px;
    color: #fff;
}

.btn_bg_dgrey {
    background-color: #363636;
}

.btn_bg_red {
    background-color: #CD3D0F;
}

.btn:hover {
    color: #FFF; /* Overwritten BS rule, final behaviour TBC*/
}

.nav-link:focus, .nav-link:hover {
    color: #000;/* Overwritten BS rule, final behaviour TBC*/
}



/* Typo */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff; 
}

/* Header */

header {
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 10; 
}

.header-top {
    padding: 5px 0;
}

.header-top img {
    width: 75px;
}

.chevron, .chevron-hover {
    width: 10px;
}

.nav-item:hover .chevron {
    display: none;
}

.nav-item:hover .chevron-hover {
    display: inline-block!important;
}

.lens {
    padding: 10px;
}

.lens img{
    width: 20px;
}

/* Hero */

#hero {
    margin-top: 110px;
}

.jumbo_bg_top{
    background-image: url(../img/jumbo-bg.png);
}
.jumbo_wrap {
    background-size:cover;
    background-position: center;
    padding: 400px 0 50px 20px;
}

#returnal_logo {
    width: 70%;
}

/* Hero Cards*/

.thumbnail {
    padding: 20px;
}

.cards img {
    width: 100%;
    border-radius: 20px;
}


